<ion-view view-title="Doctors">
	
    <ion-content class="scroll-content ionic-scroll has-header">
    
    <!--<div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>-->
        <ion-list>
            <ion-item ng-repeat="event in events" class="item-thumbnail-left item-text-wrap provider-list" ng-click="getdocdetails(event);" data-lat="{{event.practice_latitude}}" data-long="{{event.practice_longitude}}" data-id="{{event.doctor_id}}" data-pid="{{event.practice_id}}">
            	<div class="media-left media-middle text-nowrap" >
               	 <span style="background-color:{{event.doctor_bg}}" class="doctor_icon">{{event.doctor_first_name}}</span>
                </div>
                <div class="media-body media-middle">
                <div class="provider-name">{{event.doctor_first_name}}&nbsp;{{event.doctor_last_name}}</div>
                <div class="provider-address">{{event.practice_address}}</div>
                <div class="provider-speciality">{{event.doctor_specialty}}</div>
                </div>
                <div class="media-right media-middle text-nowrap"><img width="7" height="13" alt="" src="img/arrow-right.png"></div>
                
            </ion-item>
            <ion-infinite-scroll on-infinite="loadMorePolls()" ng-if="keepscrolling" distance="25%">
            </ion-infinite-scroll>
        </ion-list>
       
        
        <!-- <ion-list>
            <ion-item ng-repeat="event in events" class="item-thumbnail-left item-text-wrap" ng-click="getdocdetails(event.doctor_id);">
                
                <h2>{{event.doctor_first_name}}</h2>
                <span class="icon-space"><i class="icon ln-calendar3"></i></span><span class="font-light"></span>
                <br>
                <span class="icon-space"><i class="icon ln-timer"></i></span><span class="font-light"></span>
                <ion-option-button class="button-positive" ng-click="share(event)">
                    Share
                </ion-option-button>
            </ion-item>
            <ion-infinite-scroll on-infinite="loadMorePolls()" ng-if="keepscrolling" distance="25%">
            </ion-infinite-scroll>
        </ion-list>-->
    </ion-content>
</ion-view>
