<ion-view view-title="{{doctor}}">
	
    <ion-content class="scroll-content ionic-scroll has-header">
    	<div class="media-link">
            <div class="media-left media-middle">
                {{docimg}}
            </div>
            <div class="media-body media-middle">
                <div class="provider-address">{{address}}</div>
                <div class="provider-speciality">{{speciality}}</div>
            </div>
            <div class="media-right media-middle">
                <img width="29" height="29" alt="" src="img/call.png">
            </div>
        </div>
        <div class="map">
            <img src="img/map.png" alt="" class="img-responsive" width="360" height="392">
        </div>
    </ion-content>
</ion-view>





