<ion-view view-title="Home">
    <ion-content>
       <div class="menu-link home-menu" >
				<div class="page-title">
					<h4>What would you like to do?</h4>
				</div>
                <a href="#/app/about" class="button button-positive button-block">Try Again</a>
				<ul class="media-list menu-list main">
					<li class="media">
						<a href="doctor.html" class="media-link" data-ajax="false" data-prefetch>
							<div class="media-left media-middle">
								<img src="img/search-network.png" alt="" width="33" height="32">
							</div>
							<div class="media-body media-middle">
								<div class="menu-title">Search Doctors</div>
							</div>
							<div class="media-right media-middle text-nowrap">
								<img width="9" height="16" src="img/arrow-right2.png" alt="">
							</div>
						</a>
					</li>
					<li class="media">
						<a href="events.html" class="media-link">
							<div class="media-left media-middle text-nowrap">
								<img src="img/calendar-event.png" alt="" width="31" height="31">
							</div>
							<div class="media-body media-middle">
								<div class="menu-title">Search Calender Event</div>
							</div>
							<div class="media-right media-middle text-nowrap">
								<img width="9" height="16" src="img/arrow-right2.png" alt="">
							</div>
						</a>
					</li>
					<li class="media">
						<a href="resource-finder.html" class="media-link">
							<div class="media-left media-middle text-nowrap">
								<img src="img/resource-finder.png" alt="" width="30" height="29">
							</div>
							<div class="media-body media-middle">
								<div class="menu-title">Go to Resource Finder</div>
							</div>
							<div class="media-right media-middle text-nowrap">
								<img width="9" height="16" src="img/arrow-right2.png" alt="">
							</div>
						</a>
					</li>
					<li class="media">
						<a href="event-recom.html" class="media-link">
							<div class="media-left media-middle text-nowrap">
								<img src="img/event-rec.png" alt="" width="27" height="29">
							</div>
							<div class="media-body media-middle">
								<div class="menu-title">Social Needs Assessment</div>
							</div>
							<div class="media-right media-middle text-nowrap">
								<img width="9" height="16" src="img/arrow-right2.png" alt="">
							</div>
						</a>
					</li>
                    <li class="media">
						<a href="#" class="media-link">
							<div class="media-left media-middle text-nowrap">
								<img src="img/myinfo.png" alt="" width="25" height="29">
							</div>
							<div class="media-body media-middle">
								<div class="menu-title">My Info</div>
							</div>
							<div class="media-right media-middle text-nowrap">
								<img width="9" height="16" src="img/arrow-right2.png" alt="">
							</div>
						</a>
					</li>
				</ul>
			</div>
    </ion-content>
</ion-view>
